@page
@model SchoolDriving.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Orders";
}

<h1>List of Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].OrderReference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Order[0].Student)
            </th>    
            <th>
                Created On
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Order)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderReference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @(item.Student.FirstName + " " + item.Student.LastName) 
                </td>
                <td>
                    @(item.DateCreated.ToShortDateString())
                </td>

                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
