@page
@using SchoolDriving.Models
@model SchoolDriving.Pages.Enrollments.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h4>@Model.Enrollment.Course.Name - @Model.Enrollment.LastName, @Model.Enrollment.FirstName </h4>
<h5>REF: @Model.Enrollment.Reference</h5>
<hr />

<form method="post">
    <input type="hidden" asp-for="Enrollment.Id" />
    <input type="hidden" asp-for="Enrollment.Reference" />
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>First Name</label>
                <input readonly="readonly" asp-for="Enrollment.FirstName" class="form-control" />
                <span asp-validation-for="Enrollment.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Middle Name</label>
                <input readonly="readonly" asp-for="Enrollment.MiddleName" class="form-control" />
                <span asp-validation-for="Enrollment.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Last Name</label>
                <input readonly="readonly" asp-for="Enrollment.LastName" class="form-control" />
                <span asp-validation-for="Enrollment.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.Email" class="control-label"></label>
                <input readonly="readonly" asp-for="Enrollment.Email" class="form-control" />
                <span asp-validation-for="Enrollment.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Birthday</label>
                <input readonly="readonly" type="date" asp-for="Enrollment.BirthDate" class="form-control" />
                <span asp-validation-for="Enrollment.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Educational Attainment</label>
                <select readonly="readonly" asp-for="Enrollment.EducationalAttainment" class="form-control">
                    <option value="" selected>-- Select Educational Attainment --</option>
                    <option value="Elementary Graduate">Elementary Graduate</option>
                    <option value="HighSchool Graduate">HighSchool Graduate</option>
                    <option value="TVET Graduate">TVET Graduate</option>
                    <option value="College Level">College Level</option>
                    <option value="College Graduate">College Graduate</option>
                </select>
                <span asp-validation-for="Enrollment.EducationalAttainment" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Number, Street</label>
                <input readonly="readonly" asp-for="Enrollment.StreetNumber" class="form-control" />
                <span asp-validation-for="Enrollment.StreetNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Barangay</label>
                <input readonly="readonly" asp-for="Enrollment.Barangay" class="form-control" />
                <span asp-validation-for="Enrollment.Barangay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Municipality</label>
                <input readonly="readonly" asp-for="Enrollment.Municipality" class="form-control" />
                <span asp-validation-for="Enrollment.Municipality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Province</label>
                <input readonly="readonly" asp-for="Enrollment.Province" class="form-control" />

            </div>
            <div class="form-group">
                <label>Zip Code</label>
                <input readonly="readonly" asp-for="Enrollment.ZipCode" class="form-control" />
            </div>
            <div class="form-group">
                <label>Employment Status</label>
                <select readonly="readonly" asp-for="Enrollment.EmploymentStatus" class="form-control" asp-items="Html.GetEnumSelectList<EmploymentStatus>()">
                    <option selected="selected" value="">-- Select Employment Status --</option>
                </select>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Course</label>
                <input readonly="readonly" asp-for="Enrollment.Course.Name" class="form-control" />
                <input type="hidden" asp-for="Enrollment.Course.Id" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Enrollment.Mobile" class="control-label"></label>
                <input readonly="readonly" asp-for="Enrollment.Mobile" class="form-control" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input readonly="readonly" asp-for="Enrollment.Age" class="form-control" />
            </div>
            <div class="form-group">
                <label>Sex</label>
                <select readonly="readonly" asp-for="Enrollment.Sex" class="form-control">
                    <option value="" selected>-- Select Sex --</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
            <div class="form-group">
                <label>Civil Status</label>
                <select readonly="readonly" asp-for="Enrollment.CivilStatus" class="form-control">
                    <option value="" selected>-- Select Civil Status --</option>
                    <option value="Single">Single</option>
                    <option value="Married">Married</option>
                </select>
            </div>
            <div class="form-group">
                <label>License Number</label>
                <input readonly="readonly" asp-for="Enrollment.LicenseNumber" class="form-control" />
            </div>
        </div>
    </div>

    <br />
    <h5>Requirements Uploaded</h5>
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        File Name
                    </th>
                    <th>
                        File Type
                    </th>
                    <th>
                        File
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Enrollment.Requirements)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FileName)
                        </td>
                        <td>
                            <a asp-page-handler="DownloadFile" asp-route-id="@item.Id">@item.FileName</a>                                            
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />

    <div class="row">
        <div class="col-md-2">
            <a asp-page="./Index">Back to List</a>
        </div>
        <div class="col-md-8">
        </div>
        @if (!Model.Enrollment.Approved && Model.Enrollment.PaymentId != Guid.Empty && Model.Enrollment.Requirements.Count > 0)
        {
            <div class="col-md-2">
                <input type="submit" value="Approve" class="btn btn-success" />
            </div>
        }
    </div>
</form>



<div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
