@page
@model SchoolDriving.Pages.Invoices.IndexModel


@{
    ViewData["Title"] = "Invoices";
}

<h1>List of Invoices</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Payment Reference
            </th>
            <th>
                Amount
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Invoice[0].Student)
            </th>
            <th>
                Created On
            </th>          
            <th>
                Payment Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Invoice)
        {
            <tr>
                <td>
                    @(item.Payment?.Reference)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice)
                </td>
                <td>
                    @(item.Student?.FirstName + " " + item.Student?.LastName)
                </td>
                <td>
                   @(item.DateCreated.ToShortDateString())
                </td>
                <td>
                    @(item.PaymentDate?.ToShortDateString())
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
